/* Media query per schermi fino a  1200px */
@media (max-width: 1200px) {
    .container {
        border-right: 4rem solid white;
        border-left: 4rem solid white;
    }

    .blue-section {
        border-right: 4rem solid white;
        border-left: 4rem solid white;
    }

}



/* Media query per schermi fino a  960px */
@media (max-width: 960px) {
    .header {
        padding-left: 0;
        padding-right: 0;
        border-right: none;
        border-left: none;
    }

    #navbarNav {
        display: none; !important;
    }

    .nav-shown1 {
        display: block;
    }

    .nav-shown {
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .main-navbar {
        z-index: 1030;
        top: 50px;
        width: 100%;
        position: fixed;
    }

    .secondary-nav {
        display: flex;
    }


    .meteo,
    .line-under-header {
        display: none; /* Nasconde gli elementi meteo-gg e line-under-header */
    }

    .scroll-button {
        display: flex;
    }

    .contents {
        width: 100%;
        display: block;
    }

    .sidebar {
        width: 100%;
        display: block;
    }

    .articles {
        flex-direction: column;
    }

    .col {
        flex: 1 0 50%;
    }

    .container {
        border-right: 1rem solid white;
        border-left: 1rem solid white;
    }

    .blue-section {
        border-right: 1rem solid white;
        border-left: 1rem solid white;
    }


    #showLarge,
    #showLarge1,
    #showLarge2,
    #showLarge3 {
        display: none;
    }

    #showCarousel,
    #showCarousel1,
    #showCarousel2,
    #showCarousel3{
        display: block;
    }


}



/* Media query per schermi fino a  768px */
@media (max-width: 768px) {
    .secondary-nav {
        display: flex;
    }

    .container {
        border-right: 18px solid white;
        border-left: 18px solid white;
    }

    .blue-section {
        border-right: 18px solid white;
        border-left: 18px solid white;
    }
}



/* Media query per schermi fino a 576px */
@media (max-width: 576px) {

    .secondary-nav {
        display: flex;
    }

    .container {
        border-right: 5px solid white;
        border-left: 5px solid white;
        padding-left: 2%;
        padding-right: 2%;
    }

    .blue-section {
        border-right: 5px solid white;
        border-left: 5px solid white;
        padding-left: 2%;
        padding-right: 2%;
    }

}



/* Media query per schermi fino a 400px */
@media (max-width: 400px) {

    .secondary-nav {
        display: flex;
    }

    .secondary-nav .col-3 {
        flex: 1;
        max-width: 25%;
    }

    .container {
        border-right: 0 solid white;
        border-left: 0 solid white;
        padding-left: 1%;
        padding-right: 1%;
    }

    .blue-section {
        border-right: 0 solid white;
        border-left: 0 solid white;
        padding-left: 1%;
        padding-right: 1%;
        display: inline-block;
    }


    .col {
        flex: 1 0 100%;
    }

}
